<!DOCTYPE html>
<html data-ng-app="scrumEasy">
  <head>
    <title>scrumEasy</title>
    <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/third-party/bootstrap/css/bootstrap-theme.css" />
  </head>
  <body>
    <div class="container">
        <div id="content">
            <ng-view />
        </div>
    </div>
    <script src="/third-party/angular/angular.js"></script>
    <script src="/third-party/angular/angular-resource.js"></script>
    <script src="/third-party/angular/angular-bootstrap.js"></script>
    <script src="/third-party/socket.io/socket.io.js"></script>
    <script src="/js/angular-app/bootstrap.js"></script>
    <script src="/js/angular-app/services.js"></script>
    <script src="/js/angular-app/directives.js"></script>
    <script src="/js/angular-app/controllers.js"></script>
  </body>
</html>